@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 43, 47, 43;
    --background-end-rgb: 43, 47, 43;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(0deg, rgba(47,46,49,1) 0%, rgba(40,38,40,1) 45%, rgba(16,17,16,1) 78%); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); 
}
.custom-radio {
  appearance: none;
  border: 2px solid #07e073;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: 4px;
  padding: 2px; /* Add padding for the space between the border and the inner circle */
  background-color: transparent;
  outline: none;
}

.custom-radio:checked {
  background-color: #07e073;
}
